*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* UTILITY */
.t-giallo{
    color: yellow;
}
.t-green{
    color: green;
}
h2{
    text-align: center;
    font-size: 6em;
    font-variant: small-caps;
}
/* FINE UTILITY */

/* MENU DI SCROLL */

ul li a{
    text-decoration: none;
    font-size: 2em;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 20px 30px;
    background-color: whitesmoke;
    border-radius: 50%;
    font-weight: bold;
    color: black;
}
ul li:hover{
    transition: all 0.6s ease;
    transform: rotate(360deg);
}
ul li a:hover{
    box-shadow: 5px 5px 10px black;
}
ul li{
    display: inline-block;
    list-style-type: none;
    border-radius: 50%;
    margin-left: 20px;
}
.num{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
}

/* MENU DI SCROLL */

/* PAGINA 1 */
#pag-1{
 height: 100vh;
 background-color: red;
 position: relative;
}

.superga{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.superga img{
    width: 100%;
}


/* FINE PAGINA 1 */

/* PAGINA 2 */
#pag-2{
    height: 100vh;
    background-color: green;
    position: relative;
}

.converse{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.converse img{
    width: 100%;
}
/* FINE PAGINA 2 */

/* PAGINA 3 */
#pag-3{
    background-color: yellow;
    position: relative;
    height: 100vh;
}
.tommy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tommy img{
    width: 100%;
}
/* FINE PAGINA 3 */